<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff Calculator in Angular</title>
	<link rel="icon" type="image/ico" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css">
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="calcController">
	<div class="row">
		<div class="columns medium-12"><h1>Waitstaff Calculator</h1></div>
	</div>
	<div class="row">
		<div class="columns medium-6">
			<div class="box">

				<h2>Meal Details</h2>

				<p>Enter the meal details.</p>

				<form name="waitStaffForm" ng-submit="mealDetailSubmit(); formSubmitted=true;">

					<div class="row">
						<div class="small-4 columns">
							<label for="meal_price" class="right inline">Base Meal Price</label>
						</div>
						<div class="small-8 columns">
							<input type="number" id="meal_price" ng-model="mealData.mealPrice" placeholder="$" min="0.1" step=".1" required>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<label for="tax_rate" class="right inline">Tax Rate</label>
						</div>
						<div class="small-8 columns">
							<input type="number" id="tax_rate" ng-model="mealData.taxRate" placeholder="%" min="1" step=".1" required>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<label for="tip_percentage" class="right inline">Tip Percentage</label>
						</div>
						<div class="small-8 columns">
							<input type="number" id="tip_percentage" ng-model="mealData.tipPercentage" step=".1" placeholder="%" required>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<button class="small secondary" type="submit" value="Submit">Submit</button>
							<button class="small secondary" type="button" value="Cancel" ng-click="cancelForm()">
								Cancel
							</button>
						</div>

					</div>
				</form>


			</div>

		</div>
		<div class="columns medium-6">
			<div class="box">
				<h2>Customer Charges</h2>
				<ul>
					<li>Subtotal {{ chargeData.subTotal | currency}}</li>
					<li>Tip {{ chargeData.tip | currency}}</li>
					<li>Total {{ chargeData.total | currency }}</li>
				</ul>
			</div>
			<div class="box">
				<h2>My Earnings Info</h2>
				<ul>
					<li>Tip Total: {{ earningData.tipTotal | currency }}</li>
					<li>Meal count: {{ earningData.mealCount }}</li>
					<li>Average Tip per Meal: {{ earningData.tipMean | currency }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="columns medium-2">
			<button class="small secondary" type="reset" value="Reset" ng-click="resetForm()">Reset</button>
		</div>

	</div>
	<!--
	Uncomment to debug
	<div class="row">
		{{mealData}}
		{{chargeData}}
		{{earningData}}
	</div>-->
</div>


<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
	$( document ).foundation();
</script>
<script src="assets/js/main.js"></script>

</body>
</html>