<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
<!--  <div class="alert alert-app-level">-->
<!--    alert-->
<!--  </div>-->
  <header class="header header-6">
    Waitstaff Calculator
  </header>
<!--  <nav class="subnav">-->
<!--    subnav-->
<!--  </nav>-->
  <div class="content-container">
    <div class="content-area">
      <app-calculator></app-calculator>

    </div>
<!--    <nav class="sidenav">-->
<!--      sidenav-->
<!--    </nav>-->
  </div>
</div>

<router-outlet></router-outlet>
